<div class="thanks">
  <h2 class="thanks-heading">Your inquiry has been received.
  </br>thank you.</h2>
  <%= link_to "Go back to top page",{:controller => "top", :action => "index"}, {:class => "go-back-to-top-page"}%>
  <p class="thanks-information">You will be automatically redirected 3 seconds after page-load, or click on the link above.</p>
</div>